/* font classes */
.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.App {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  z-index: 0;
}

html,
body,
#root,
.App {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App .App-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}

.App .App-content .appBar {
  max-height: 10%;
}

.App .App-content .clockComponent {
  display: flex;
  justify-content: center;
  max-width: 50%;
  margin: 0 auto;
  overflow-x: auto;
  /* To make it scrollable if the content is wider than the container */
}

.App .App-content .callToAction{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'DM Mono';
  font-size:1.5rem;
}

.App .App-content .taskTable{
  display: flex;
  justify-content: center;
  max-width: 80%;
  margin: 0 auto;
  overflow-x: auto;
  /* To make it scrollable if the content is wider than the container */
}
.App .background-spline {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  /* Ensures the background is behind other content */
}




